<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <div class="container my-5">
        <div class="row align-items-center px-5">
            <div class="col-md-6">
                <!-- Login Form -->
                <form method="POST" action="/auth/signup">
                    <div class="fs-3 fw-semibold mb-3">Sign Up an Account</div>
                    <% if (success) { %>
                        <span class="badge text-bg-success mb-3 fs-5"><%= success %> => <a href="/auth/login">Log in now!</a></span>
                    <% } else if (error) { %>
                        <span class="badge text-bg-danger mb-3 fs-5"><%= error %></span>
                    <% } %>
                    <div class="row">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Enter username...">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter password...">
                        </div>
                        <div class="mb-3">
                            <label for="re_password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="re_password" placeholder="Repeat password...">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                        <% if (success) { %>
                            <div class="mb-3">
                                Already registered? <a href="/auth/login" class="link-primary text-decoration-none">Log in now!</a>
                            </div>
                        <% } %>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <img src="https://img.freepik.com/premium-photo/photo-closeup-shot-delicious-food_829042-89.jpg" alt="Delicious Food" class="img-fluid rounded-4">
            </div>
        </div>
    </div>    
</body>
</html>